body {
    background-color: black;
    /*background-image: linear-gradient(45deg, cyan, yellow);;*/
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.area-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.geral{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    width: 285px;
    height: 300px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 10px 40px black;

}

.geral > h1{
    color: white;;
}

.geral form{
    display: flex;
    flex-direction: column;
}

.geral input{
    margin-top: 10px;
    background-color: white;
    padding-left: 10px;
    color: #CBD0F7;
    border: none;
    height: 35px;
    width: 287px;
    outline: none;
    border-radius: 8px;
}

input::placeholder{
    color: #CBD0F7;
    font-size: 14px;
}

.criar [type="submit"]{
    display: block;
    background-color: white;
    color: black;
    font-size: 20px;
    width: 300px;
    height: 45px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-family:  Arial;
    cursor: pointer;
}

a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #23232e;
    height: 9vh;
}

main{
    background: url(bg.jpg.jpg) no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

header .nav-list li{
    display: inline-block;
}

h2{
    color: #fff
}

header .nav-list a{
    color: white;
    padding: 8px 8px;
    border-radius: 3px;
    transition: 200ms;
}

header .nav-list .ativo, header .nav-list a:hover{
    color: black;
    background-color: black;
}