{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <link rel="stylesheet" href="{% static 'css/agendamento.css' %}"> 

    <title>CuttieCuts - Agendamento</title>
</head>

<body class="main_bg">
    <div class="form" >
        <div class="form-text">
            <h1><span><img src="art-1.png" alt=""></span>Agendamento <span><img src="art-1.png" alt=""></span></h1>
            <p>Prencha os campos corretamente para efetuar seu agendamento</p>
        </div>
        <div class="main-form">
            <form method="post">

                {% csrf_token %}

                <div>
                    <span>Nome completo</span>
                    <input type="text" name="name" id="name" placeholder="Digite seu nome completo..." required>
                </div>
                <div>
                    <span>Nome de usuário</span>
                    <input type="text" name="name" id="name" placeholder="Digite seu nome de usuário..." required> 
                </div>
                <div class="t">
                  <span>Número de telefone</span>
                    <input type="text" name="number" id="number" placeholder="Digite seu numéro de telefone..." required>  
              </div>
              <div>
                <span>Endereço</span>
                  <input type="text" name="name" id="name" placeholder="Digite seu Endereço..." required>
            </div>
                <div>
                    <!-- <---this is the select option--->
                    <span>Selecione o funcionário</span>
                    <select name="people" id="people" required>
                        <option value=""></option>
                        <option value="1">Gregorio</option>
                        <option value="2">José</option>
                        <option value="3">Gabriela</option>
                        <option value="4">Laura</option>
                    </select>
                    <!-- <---this is the select option--->
                </div>
                <div>
                    <!-- <---this is the select option--->
                      <span>Selecione o serviço</span>
                      <select name="people" id="people" required>
                          <option value=""></option>
                          <option value="1">1 People</option>
                          <option value="2">2 People</option>
                          <option value="3">3 People</option>
                          <option value="4">4 People</option>
                      </select>
                      <!-- <---this is the select option--->
                </div>
                <div>
                  <span>Data de agendamento</span>
                  <input type="date" name="date" id="date" placeholder="date" required>
              </div>
                <div>
                  <span>Horário</span>
                  <input type="time" name="hora" id="hora" placeholder="Time" required>
              </div>
              <div class="mensagem">
                <span>Deseja nos informar algo?</span>
              </div>   
              <textarea id="msg" cols="80" rows="4">
              </textarea>
                <div id="submit">
                    <input type="submit" value="Agendar" id="submit">
                </div>

            </form>
        </div>
    </div>
</body>

</html>