{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <link rel="stylesheet" href="{% static 'css/agendamento.css' %}"> 

    <title>CuttieCuts - Agendamento</title>
</head>

<body class="main_bg">
    <div class="form" >
        <div class="form-text">
            <h1><span><img src="art-1.png" alt=""></span>Agendamento <span><img src="art-1.png" alt=""></span></h1>
            <p>Prencha os campos corretamente para efetuar seu agendamento</p>
        </div>
        <div class="main-form">
            <form method="post">

                {% csrf_token %}

                <div>
                    <span>Nome completo</span>
                    {{agendform.nome}}
                </div>
                
                <div>
                    <span>Endereço</span>
                    {{agendform.endereco}}
                </div>

                <div>

                    <!-- <---this is the select option--->
                    <span>Selecione o funcionário</span>
                    <select name="funcionario" id="people" required>
                        <option value=""></option>
                        <option value="1">Gregorio</option>
                        <option value="2">José</option>
                        <option value="3">Gabriela</option>
                        <option value="4">Laura</option>
                    </select>
                    <!-- <---this is the select option--->
                </div>

                <div>
                    <!-- <---this is the select option--->
                      <span>Selecione o serviço</span>
                      <select name="servico" id="people" required>
                          <option value=""></option>
                          <option value="1">1 Cabelo</option>
                          <option value="2">2 Maquiagem</option>
                          <option value="3">3 Estética</option>
                          <option value="4">4 Manicure</option>
                      </select>
                      <!-- <---this is the select option--->
                </div>

                <div>
                  <span>Data de agendamento</span>
                  {{agendform.data}}
              </div>

                <div>
                  <span>Horário</span>
                  {{agendform.horario}}
              </div>

                <div id="submit">
                    <input type="submit" value="Agendar" id="submit">
                </div>

            </form>
        </div>
    </div>
</body>

</html>