{%  load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  

    <title>Formulário</title>

</head>

<body>
  
    <div class="container">
        <div class="form-image">
            <img src="https://i.imgur.com/v6IPhVo.png" alt="">
        </div>

        <form class="form" name="cadastro" method="post" action="/docad/"> 

          {% csrf_token %}

                <div class="form-header">
                    <div class="title">
                        
                        <div class="cadastre-se">

                            <h1>Cadastre-se</h1>

                            <div id='msgError'></div>
                        <div id='msgSuccess'></div>
                        </div>
                    
                    </div>
                </div>

                <div class="input-group">
                    <div class="label-float">
                    <label id="labelNome" for="nome">Nome</label>
                    {{form.nome}}
                     </div>

                     <div class="label-float">
                        <label id="labelSobrenome" for="sobrenome">Sobrenome</label>
                        {{form.sobrenome}}
                     </div>

                     <div class="label-float">
                        <label id="labelTelefone" for="telefone">Telefone</label>
                        {{form.telefone}}
                     </div>

                     <div class="label-float">
                        <label id="labelUsuario" for="usuario">Usuário</label>
                        {{form.usuario}}
                     </div>

                     <div class="label-float">
                        <label id="labelSenha" for="senha">Senha</label> 
                        {{form.senha}}             
                     </div>

                     <div class="label-float">
                        <label id="labelConfirmSenha" for="confirmSenha">Confirmar Senha</label>
                        {{form.confirmar_senha}}
                     </div>
            
                </div>

                <div class="justify-center">
                    <button type="submit" class="btn" onclick='cadastrar()'>Cadastrar</button>
                </div>

            </form>

         </div>

            
        </div>
    </div>

</body>

</html>
