{%  load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 

    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
        
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap" rel="stylesheet" />
    <title>Cadastro - CuttieCuts</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2>Criar Uma Conta</h2>
      </div>

      <form class="form" name="cadastro" method="post" action="/docad/"> 

          {% csrf_token %}

        <div class="form-control">
          <label for="name">Nome completo</label>

            {{form.nome}}

          <i class="fas fa-exclamation-circle"></i>
          <i class="fas fa-check-circle"></i>
          <small>Mensagem de erro</small>
        </div>


        <div class="form-control">
            <label for="username">Nome de usuário</label>

              {{form.usuario}}

            <i class="fas fa-exclamation-circle"></i>
            <i class="fas fa-check-circle"></i>
            <small>Mensagem de erro</small>
          </div>

          <div class="form-control">
            <label for="username">Data de nascimento</label>

              {{form.data_nasc}}

            <i class="fas fa-exclamation-circle"></i>
            <i class="fas fa-check-circle"></i>
            <small>Mensagem de erro</small>
          </div>

        <div class="form-control">
          <label for="email">Email</label>

            {{form.email}}

          <i class="fas fa-exclamation-circle"></i>
          <i class="fas fa-check-circle"></i>
          <small>Mensagem de erro</small>
        </div>

        <div class="form-control">
          <label for="password">Senha</label>

            {{form.senha}}

          <i class="fas fa-exclamation-circle"></i>
          <i class="fas fa-check-circle"></i>
          <small>Mensagem de erro</small>
        </div>

        <div class="form-control">
          <label for="password-confirmation">Confirmação de senha</label>

            {{form.confirmar_senha}}

          <i class="fas fa-exclamation-circle"></i>
          <i class="fas fa-check-circle"></i>
          <small>Mensagem de erro</small>
        </div>

        <button type="submit">Cadastrar</button>
      </form>
    </div>

    <script src="{% static 'css/cadastro.js' %}"></script>

  </body>
</html>