{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'css/home.css' %}">

  <title>Veste Você</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero"></a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <li><a href="#projects" data-after="Servicos">Produtos</a></li>
            <li><a href="./login" data-after="Galeria">Login</a></li>
        </div>
      </div>
    </div>
  </section> 
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Olá, <span></span></h1>
        <h1>Sejam bem vindos a <span></span></h1>
        <h1>Veste Você <span></span></h1>
      </div>
    </div>
  </section>

  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Últimas <span>atualizacões</span></h1>
      </div>
      
      <div class="all-projects">
        <div class="project-item">
          <div class="project-img">
            <img src="https://i.pinimg.com/550x/95/5a/6f/955a6fd6996851ffdcb7c0f909594625.jpg" alt="img">
          </div>
          <div class="project-img">
            <img src="https://media.istockphoto.com/photos/stylish-fashionable-blonde-woman-with-smoky-eye-makeup-in-jeans-white-picture-id1259705254?k=20&m=1259705254&s=170667a&w=0&h=jdAGF2uDNXG9bSw3DOYgOhYJS6jYAwFvemPRlSil2gk=" alt="img">
          </div>

  <!-- End Hero Section  -->

  <!-- Service Section -->

      </div>
    </div>
  </section>
  <!-- End Service Section -->

  <!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Últimas <span>atualizacões</span></h1>
      </div>

      <div class="all-projects">
        <div class="project-item">
          <div class="project-img">
            <img src="https://i.pinimg.com/550x/95/5a/6f/955a6fd6996851ffdcb7c0f909594625.jpg" alt="img">
          </div>
          <div class="project-img">
            <img src="https://media.istockphoto.com/photos/stylish-fashionable-blonde-woman-with-smoky-eye-makeup-in-jeans-white-picture-id1259705254?k=20&m=1259705254&s=170667a&w=0&h=jdAGF2uDNXG9bSw3DOYgOhYJS6jYAwFvemPRlSil2gk=" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-img">
            <img src="https://cf.shopee.com.br/file/f4b52232c3cc57b0e7c9f8745d8c098e" alt="img">
          </div>
          <div class="project-img">
            <img src="https://i.imgur.com/PaMvWW3.jpg" alt="img">
          </div>
        </div>
        </div>
        </div>
  </section>

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>Veste Você</span></h1>
      </div>
      <h2>Redes sociais</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href=""><img src="https://i.imgur.com/fVSIrBt.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://i.imgur.com/Y9e6gDn.png" /></a>
        </div>
      </div>
      <p>Copyright © 2022 Veste Você. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  <script src="menu.js"></script>
</body>

</html>