{% load static %}

<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
          
    <div id='msgError'></div>
    <div id='msgSuccess'></div>
    
    <form class="form"  name="login" method="post" action="/dolog/">

        {% csrf_token %}

        <div class="label-float">
            {{login.usuario}}
          <label id="labelUsuario" for="usuario">Usuário</label>
       </div>

       <div class="label-float">
            {{login.senha}}
        <label id="labelSenha" for="senha">Senha</label>

        <i id="verSenha" class="fa fa-eye" aria-hidden="true"></i> 
     </div>

        <div class="pass">Esqueceu a senha?</div>
        <div class='justify-center'>
          <button onclick='logar()'>Logar</button>
       </div>
        <div class="signup_link">
          Não tem uma conta? <a href="/cadastro">Cadastre-se</a>
        </div>
      </form>
    </div>

  </body>
</html>